@model Department
<form asp-action="SaveNewDepartment" asp-controller="Department" method="post" class="formStyle" style="margin-top:-5cm;">
    <partial name="DeptAddAndUpdatePartialView" />
</form>
