@model List<Trainee>
<div style="max-height: 700px; overflow-y: auto; margin-top: -6cm; margin-left: 0; width: 100%;">
    <table class="table table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Department</th>
            <th><a href="/Trainee/NewTrainee" class="btn btn-outline-info" style="width:75px">New</a></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trn in Model)
        {
            <tr>
                <th scope="row">@trn.id</th>
                <td>@trn.name</td>
                <td>@trn.Address</td>
                <td>@trn.department.name</td>
                <td><a href="/Trainee/getspecifictrainee/@trn.id" class="btn btn-outline-secondary">Details</a></td>
                <td><a href="/Trainee/UpdateTrn/@trn.id" class="btn btn-outline-info">Update</a></td>
                <td><a href="/Trainee/DeleteTrn/@trn.id" class="btn btn-outline-danger">Delete</a></td>

            </tr>
        }
    </tbody>
</table>

