@using LABSOLDAY14MVC.Models.ViewModels
@model TraineeVM
<form asp-action="SaveNewTrn" asp-controller="Trainee" method="post" class="formStyle" style="margin-top:-5cm;">
    <partial name="trnAddAndUpdatePartialView" />
</form>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
